/.vs/*
/WetPicsRebirth/appsettings.Development.json
/WetPicsRebirth/bin/*
/WetPicsRebirth/obj/*
*.user
/ngrok.exe
/.idea/*
/obj/*
/WetPicsRebirth.Tests/bin/*
/WetPicsRebirth.Tests/obj/*
/WetPicsRebirth/appsettings.Cache.json
