**/bin/*
**/obj/*
*.user
/obj/*
/Tools/ngrok.exe
/Source/.vs/*
/Source/.idea/*
/Source/WetPicsRebirth.Tests/bin/*
/Source/WetPicsRebirth.Tests/obj/*
/Source/WetPicsRebirth/appsettings.Cache.json
/Source/WetPicsRebirth/appsettings.Development.json
/Source/WetPicsRebirth.Infrastructure.ImageProcessing/bin/*
/Source/WetPicsRebirth.Infrastructure.ImageProcessing/obj/*
/Source/WetPicsRebirth/WetPicsRebirth/obj/*
/Source/WetPicsRebirth/WetPicsRebirth/bin/*
